*.py[cod]
*.log
/logs
*.json
/build
/dist
/*.egg-info
*.csv
/*.csv
*.ipynb
/*.ipynb
/*.txt
*.txt
iqoptionbot/report.txt
iqoptionbot/dataframeEURUSD.txt
iqoptionbot/dataframeEURUSD1.txt
iqoptionbot/modeltest.ipy
iqoptionbot/tensorflowmodel.ipynb
iqoptionbot/dataframeEURUSD2.txt
iqoptionbot/dataframeGBPUSD.txt
iqoptionbot/dataframeGBPUSD1.txt
iqoptionbot/tradeddataGBPUSD10years_bollingerrsi.csv
iqoptionbot/tradeddataGBPUSD10years_curvefit.csv
iqoptionbot/tradeddataGBPUSD10years_twomincross.csv
iqoptionbot/tradeddataGBPUSD10years_curvefit2.csv
iqoptionbot/dataframeGBPUSD10years.csv
iqoptionbot/dataframetest.csv
iqoptionbot/tensorflowmodel.ipynb
